# This timer unit is for testing
# By David Both
# Licensed under GPL V2
#

[Unit]
Description=CTP LED timer
Requires=ctp-led.service

[Timer]
Unit=ctp-led.service
OnCalendar=Mon..Fri *-*-* 17..23:00/5:00
OnCalendar=Sun,Sat *-*-* 06..23:00/5:00
OnCalendar=Sun,Sat *-*-* 00..02/5:00
OnCalendar=Thanksgiving
Persistent=true

[Install]
WantedBy=timers.target
