[Unit]
Description=CTP LEDs service

[Service]
EnvironmentFile=-/etc/environment
Environment=PID_FILE=/run/led-ctp.pid
PIDFile=/run/led-ctp.pid

Type=forking
RemainAfterExit=no
ExecStartPre=/bin/touch ${PID_FILE}
ExecStart=/bin/bash /home/pi/neo-pixel-pi-scripts/shutdown-if-too-hot.sh
#ExecStartPost=/bin/bash -c "echo ${MAINPID} > ${PID_FILE}"
ExecStop=/bin/bash -c "bash /home/pi/neo-pixel-pi-scripts/shutdown-if-too-hot.sh --off; bash /home/pi/neo-pixel-pi-scripts/led-off.sh"

User=root
Group=root

CPUQuota=15%
MemoryMax=128M
Nice=15

StandardOutput=file:/var/log/service.ctp-led-run.log
StandardError=file:/var/log/service.ctp-led-run.log

[Install]
WantedBy=default.target
Alias=ctp-leds-run.service
